footer {
    background-color: #212529;
    /* background-image:  linear-gradient(black, red); */
    color: white;
  }
footer a .text-muted{
  color: white;
}
.container {
    min-height: 100vh;
  }
