.btn-danger {
    background-color: #d50000;
    border-color: #d50000;
}

.btn-danger:hover {
    background-color: black;
    border-color: black;
}

.btn:hover {
    box-shadow: 0px 0px 38px -9px rgba(0, 0, 0, 8);
}

footer {
    /* background-color: #212529; */
    background-image: linear-gradient(black, red);
    color: white;
}

footer a .text-muted {
    color: white;
}

svg {
    color: white;
}